<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="/assets/topcoder.jpg" width="30" height="30" class="d-inline-block align-top" alt=""> Problem Solving App
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li *ngFor="let language of languages" class="nav-item" [ngClass]="{'active': language.value === selectedLanguage}">
        <a class="nav-link" (click)="selectLanguage(language.value)">{{language.name}}</a>
      </li>
    </ul>
  </div>
  <button class="btn btn-primary my-2 my-sm-0" (click)="run()">Run</button>
</nav>
<div class="row">
  <div class="col">
    <ngx-monaco-editor id="my-code-editor" class="my-code-editor" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
  </div>
</div>
<div class="row">
  <div class="col input">
    <h6>Input</h6>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="input"></textarea>
  </div>
  <div class="col">
    <h6>Output</h6>
    <br />
    <p [innerHtml]="output"></p>
  </div>
</div>